<!DOCTYPE html>
<html>
  <head>
    <title>Chat With RAG chatbot</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/dog.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', path='/dog.png') }}" class="icon" />
    <h3>Chat with RAG chatbot</h3>
    <form action="/chatting" method="get" enctype="multipart/form-data">
      <label for="file">submit pdf file</label> 
      <input type="file" name="file" id="file" required />
      <br></br>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>